html{
    margin:0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.first-div{
    background-color: #f1f1f1;
    padding: 7% 15%;
}

/* Buttons */
.btn{
    border: solid 2px white;
    border-radius: 1.5rem;
    background-color: hsl(0, 0%, 95%);
    /* margin: 5rem auto 2rem 2 rem; */
    margin-top: 5rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: auto;
    padding: .5rem 1rem;
}

.btn:hover{
    background-color: inherit;
    color:hsl(0, 0%, 95%);
}
.btn-text{
    font-family: 'Lexend Deca', sans-serif;
    color: inherit;
}


/* Cards */
.col-lg-4{
    padding: 0;
}
.card{
    height:120%;
}
.card-title{

    color:hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    line-height: 2;
    text-align: left;
    text-transform: capitalize;
}

.card-text{
    margin-bottom:20%;
    color:hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 10;
    font-size: 0.8rem;
    line-height: 1.5;
}

.icon{
    width: 15%;
    margin: 5% 0 5% 0;
}
.sedan{
    background-color: hsl(31, 77%, 52%);
}
.suv{
    background-color: hsl(184, 100%, 22%);
}
.luxury{
    background-color: hsl(179, 100%, 13%);
}
